$lightmode-bg: plum;
$darkmode-bg: rgb(126, 4, 126);
$lightmode-text: black;
$darkmode-text: white;
$white: white;
$black: black;
$lightmode-header: rgb(160, 221, 183);
$darkmode-header: rgb(5, 85, 35);
$lightmode-input-container:rgb(160, 221, 183);
$darkmode-input-container:rgb(49, 64, 1);
$lightmode-btn: rgb(79, 199, 31);
$darkmode-btn: rgb(122, 171, 0);
$lightmode-input: #e5e381;
$darkmode-input: #828009;
$input-text: red;
$lightmode-placeholder: rgb(79, 199, 31);
$darkmode-placeholder: rgb(5, 85, 35);
$lightmode-nasaCard: rgb(79, 199, 31);
$darkmode-nasaCard: rgb(5, 85, 35);
$NoImg: hotpink;
$darkmode-NoImg: rgb(151, 31, 91);